@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}


.font-inter {
  font-family: "Inter", sans-serif !important;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.active{
  color: blue;
}
